<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--css de la pagina de inicio en general -->
	<link rel="stylesheet" href="../css/style_general.css">
	<link rel="stylesheet" href="../css/style_register.css">
	<title>Dinamyc-loock-registrarse</title>
	<!--fuente de iconos la use en las flechas del carrusel 
	 https://boxicons.com/ -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<!-- favicons de la pagina -->
	<link rel="apple-touch-icon" sizes="180x180" href="../imagenes/favicons/apple-touch-icon.ico">
	<link rel="icon" type="image/png" sizes="32x32" href="../imagenes/favicons/favicon-32x32.ico">
	<link rel="icon" type="image/png" sizes="16x16" href="imagenes/favicons/favicon-16x16.ico">
	<link rel="manifest" href="../imagenes/favicons/site.webmanifest">
	<link rel="mask-icon" href="../imagenes/favicons/safari-pinned-tab.svg"	 color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<!-- 1. barra de navegacion -->
	<header class="header">
		<div class="logo">
			<!-- esta etiqueta modifica el logo -->
			<a href="index.html"><img src="../imagenes/logos/logo-dinamyc-loock-sin-fondo.png" alt="Logo de la Empresa">
			<h2 class="nombre-empresa">Dinamyck Loock</h2></a>
		</div>
		<nav >
			<!--iconos de navegacion-->
			<div class="nav-links">
				<a href="#"><i class='bx bx-cart'></i></a>
				<a href="login.html"><i class='bx bx-user-circle'></i></a>
			</div>
		</nav>
	</header>

<!--2. formularios de  registro  -->
<section class="register">
	<div class="container-form">
		<div class="information">
			<div class="info-childs">
				<h2 class="titulo-bienvenida">Bienvenido</h2>
				<p class="texto-bienvenida">Para realizar una compra mas sencilla inicia sesion con nosotros</p>
				<a href="login.html"><input type="button" value="iniciar sesion" class="boton-iniciar-sesion" id="sing-in"></a>
			</div>
		</div>
		<div class="form-information">
			<div class="form-information-childs">
				<h2 class="crear-cuenta">Crear una cuenta</h2>
				<div class="icons">
					<i class='bx bxl-google'></i>
					<i class='bx bxl-facebook' ></i>
				</div>
				<p class="text-crear-cuenta">o usa tu email para registrarte</p>
				<form class="form-crear-cuenta">
					<label class="label-form-crear-cuenta">
						<i class='bx bx-user' ></i>
						<input required type="text" placeholder="Nombre(s)"  class="input-form-crear-cuenta">
					</label>
					<label class="label-form-crear-cuenta">
						<i class='bx bx-user' ></i>
						<input required type="text" placeholder="Apellidos" class="input-form-crear-cuenta">
					</label>
					<label class="label-form-crear-cuenta">
						<i class='bx bx-envelope' ></i>
						<input required type="email" placeholder="Correo electronico" class="input-form-crear-cuenta">
					</label>
					<label class="label-form-crear-cuenta">
						<i class='bx bx-envelope' ></i>
						<input required type="email" placeholder="Confirmar el correo electronico" class="input-form-crear-cuenta">
					</label>
					<label class="label-form-crear-cuenta">
						<i class='bx bx-phone'></i>
						<input required type="email" placeholder="Numero de telefono" class="input-form-crear-cuenta">
					</label>
					<label class="label-form-crear-cuenta">
						<i class='bx bx-lock-alt' ></i>
						<input required type="password" placeholder="Contraseña" class="input-form-crear-cuenta">
					</label>
					<label class="label-form-crear-cuenta">
						<i class='bx bx-lock-alt' ></i>
						<input required type="password" placeholder="Confirme la contraseña" class="input-form-crear-cuenta">
					</label>
					<div class="genero">
						<i class='bx bx-select-multiple'></i>
						<select class="select-genero">
						<option disabled selected>Seleccione su genero </option>
						<option class="option-genero" value="1">Masculino</option>
						<option class="option-genero" value="2">Femenino</option>
						<option class="option-genero" value="3">Prefiero no decirlo</option>
						</select>
					</div>
					<input type="submit" value="Regitrarse" class="boton-registrarse">
				</form>
			</div>
		</div>
	</div>
</section>


</body>
</html>